
<header class="header">
    <nav>
        <h1><a routerLink="/home">Organic</a></h1>
    </nav>
  </header>

  <div class="container-principal">

    <section class="container-perfil">
        <div class="img-user">
          <div class="img"></div>
        </div>
        <nav class="box-info">
          <h1>Nome: Fulano de Tal</h1>
          <p>Email: fulanodetal@gmail.com</p>
          <p>Número: (15) 9 8765-4321</p>
        </nav>
        <nav class="buttons">
          <button id="btn" routerLink="/edit">Editar</button>
          <button id="btn-sair">Sair</button>
        </nav>
    </section>

  </div>