
<header class="header">
    <nav>
        <h1><a routerLink="/perfil">Voltar</a></h1>
    </nav>
  </header>

  <div class="container-principal">
    <div class="container-cadastro">
        <div class="imagem">
        </div>

        <section class="container">
            <h1>Atualizar Dados</h1>
            <input type="text" name="nome" id="nome" placeholder="Nome">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="text" name="numero" id="numero" placeholder="Telefone">
            <input type="password" name="senha" id="senha" placeholder="Senha">
            <button type="submit">Atualizar</button>
            <button type="submit">Apagar Conta</button>
        </section>
    </div>
</div>