<header class="header">
    <nav>
      <h1><a routerLink="/home">Organic</a></h1>
    </nav>
  </header>
<div class="container-principal">
    <div class="container-login">
        <div class="imagem">
        </div>

        <section class="container-login-cadastro">
            <h1>Fazer Login</h1>
            <form class="formulario">
              <input type="email" name="email" id="email" placeholder="Email">
              <input type="password" name="senha" id="senha" placeholder="Senha">
              <button type="submit">Enviar</button>
            </form>
            <h2>Ainda não tem conta? <a href="/cadastrar">Cadastre-se</a></h2>
        </section>
    </div>
</div>